In [1]:
### Topics covered :- 
#Input & Output Statements 
#Flow Control :- 
                 #Conditional statements
                 #Iterative statements 
                 #Transfer statements
#String Dataype :- 
                   #Strip function (strip,lstrip,rstrip)
                   #find,index function (rindex,rfind)
                   #count function 
                   #replace function
                   #split functon
                   #join function
                   #changing cases(upper,lower,capitalize,swapcase,title)
                   #checking functions(isalnum, isalpha , isdigit , isspace, istitle , isupper, islower)

In [15]:
print(1,2,3,4,5,6,7,sep='  ')
print('hello','Yellow',sep=' + ')

print(1,2,3,4,5,6,7,8, end = '\n')
print(9,10,11,12,13,14,15)

In [13]:
print('My name is %s'%'Naveen')
print('I am %d years old'%14)
print('I am learning programming from the age of %i years' %12)
a = 10.5
b = 9.5
c = a+b
print('%f+%f=%f'%(a,b,c))

My name is Naveen
I am 14 years old
I am learning programming from the age of 12 years
10.500000+9.500000=20.000000

In [18]:
print('Hello Myself {} , I am {} years old'.format('Naveen',10))

Hello Myself Naveen , I am 10 years old

In [19]:
print('Hello Myself {1} , I am {0} years old'.format(10,'Naveen'))

Hello Myself Naveen , I am 10 years old

In [20]:
n = 'Naveen'
ln = 'Gupta'
a = 14
print(f'Hello Myself {n} {ln} , I am {a} years old')

Hello Myself Naveen Gupta , I am 14 years old

In [1]:
print(range(10))

range(0, 10)

In [4]:
zo = 'hello'
len(zo)

5

In [8]:
###Table generator
n = int(input('Kindly enter the number here :-\t'))
i = 1
while i < 11 :
              print(f'{n} X {i} = {n*i}')
              i += 1

Kindly enter the number here :-	 189

189 X 1 = 189
189 X 2 = 378
189 X 3 = 567
189 X 4 = 756
189 X 5 = 945
189 X 6 = 1134
189 X 7 = 1323
189 X 8 = 1512
189 X 9 = 1701
189 X 10 = 1890

In [12]:
## Table generator using for loop
n = int(input('Kindly enter the number here :- \t'))
for i in range(10) :
    print(f'{n} X {i+1} = {(i+1)*n}')

Kindly enter the number here :- 	 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [2]:
e = 'the naveen guptannnn'
print(e.rfind('e'))
print(e.find('e'))
print(e.find('z'))
print(e.index('z'))

8
2
-1

ValueError: substring not found

In [26]:
e.count('e',4,20)

2

In [35]:
e.replace('n','p',-1
         )

'the paveep guptapppp'

In [1]:
f = 'hello guyz , this is python class 2'
f.split()

['hello', 'guyz', ',', 'this', 'is', 'python', 'class', '2']

In [17]:
a = ' '.join(f)
a

'h e l l o   g u y z   ,   t h i s   i s   p y t h o n   c l a s s   2'

In [18]:
print(f.upper())
print(f.lower())
print(f.swapcase())
print(f.title())
print(f.capitalize())

HELLO GUYZ , THIS IS PYTHON CLASS 2
hello guyz , this is python class 2
HELLO GUYZ , THIS IS PYTHON CLASS 2
Hello Guyz , This Is Python Class 2
Hello guyz , this is python class 2

In [22]:
f.islower()

True

In [5]:
_myfal = 2
print(_myfal)

2

In [8]:
s = ''''''hello ksndsdnnd fdxfffc
bfbbbb fbbghbh
gvbgbnbhnjhnj''''''
print(s)

hello ksndsdnnd fdxfffc
bfbbbb fbbghbh
gvbgbnbhnjhnj

In [10]:
name = 'hello'
name.upper().lower()

'hello'

In [4]:
av = 'hello'
b = av.replace('e','f')

In [6]:
b = b.replace('l','o')

In [7]:
b

'hfooo'