#### Assignment - Week 1
### Author - Naveen Gupta

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
## Solution 1 

s = "Naveen" ## String Data Type 
l = [1,2,3,'Nav',24.5]  # List Data Type 
f = 32.4 #float data time
t = (1,2,3,4,5,'jammu',24.4) ## Tuple Data Type

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

## Solution 2

# (i) It is a String Data Type 
# (ii) It is a String Data Type 
# (iii) It is a List Data Type 
# (iv) It is a float data type

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [1]:
## Solution 3 

# (i) / - Division , It same as division in our maths and returns output as float
a = 4/2
print(a) # Output would be 4 divided by 2  that is 2 and it would be float that is 2.0

# (ii) % - Modulus , It would return the remainder when a number is divded by another 
b = 5%2 
print(b) # Output would be 1 , as when 5 is divided by 2  remainder is 1 

# (iii) // - floor division , It is division + GIF (Greater Integer Function )in Maths
# returns result to nearest lowest integer (GIF in maths)
# if both are int - result is int
# if one is float - result is float

c = 5//2 
print(c) # Output would be 2 , as 5/2 is 2.5 and its GIF is 2 and output would be int that is it would be 2 and not 2.0

d = 5.0 // 2.0  # output would be 2.0
print(d)

# (iv) ** -  exponential operators 

e = 2**5
print(e) # the output would be 2 raised to the power 5 i.e 32

2.0
1
2
2.0
32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [2]:
l = [1,2,3,'Naveen','Python',(1,2,3,4,5),['a','b','c'],2.0,1,6.0,0b1001,1+2j]

for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
Naveen
<class 'str'>
Python
<class 'str'>
(1, 2, 3, 4, 5)
<class 'tuple'>
['a', 'b', 'c']
<class 'list'>
2.0
<class 'float'>
1
<class 'int'>
6.0
<class 'float'>
9
<class 'int'>
(1+2j)
<class 'complex'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
## sol 5
# Question not clearly stated

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [6]:
a = list(range(1,26)) ## a list conating int from 1 to 25 , total 25 elements
for i in a :
    if i%3 == 0:
        print(f'{i} is divisible by 3')
    else:
        print(f'{i} is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [9]:
#sol 7.  

# Mutable Data Type - A data type whose contents can be changed after creation. 
# List , dictionaries & sets are  mutable in python 
l = [1,2,3,4,5]
l[0] = 2
print(l) ## output would be [2,2,3,4,5] because we removed 2 and since we changed it , hence list is mutable 

# Immutable Data Types - A data Type whose contents can't be changed after creation 
# Int , float , string , tuple , bool are  immutable in python 

s = 'hello world'
s[0] = 'a' ## this will raise an error and hence it is immutable

[2, 2, 3, 4, 5]

TypeError: 'str' object does not support item assignment